*

!.config
!.gitignore
!.profile
!.xinitrc
!.Xresources

# scripts
!.local
!.local/bin
!.local/bin/rofi-bluetooth
!.local/bin/rofi-power-menu

# dunst
!.config/dunst
!.config/dunst/dunstrc

# bspwm
!.config/bspwm
!.config/bspwm/bspwmrc
!.config/bspwm/autostart

# picom
!.config/picom.conf

# polybar
!.config/polybar
!.config/polybar/*.ini
!.config/polybar/launch.sh
!.config/polybar/scripts
!.config/polybar/scripts/*

# pywal
!.config/wal
!.config/wal/templates
!.config/wal/templates/colors-rofi.rasi

# redshift
!.config/redshift.conf

# rofi
!.config/rofi
!.config/rofi/config.rasi

# sxhkd
!.config/sxhkd
!.config/sxhkd/sxhkdrc

# vim
!.vim
!.vim/vimrc

# vscode
!.config/Code\ -\ OSS
!.config/Code\ -\ OSS/User
!.config/Code\ -\ OSS/User/settings.json

# wal
!.config/wpg
!.config/wpg/themes
!.config/wpg/themes/*
