*

!.bin
!.config
!.gitignore
!.profile
!.xinitrc
!.Xresources

# bspwm scripts
!.bin/bspwm-grab
!.bin/bspwm-move
!.bin/bspwm-resize
!.bin/bspwm-select

# rofi scripts
!.bin/rofi-bluetooth
!.bin/rofi-powermenu

# polybar scripts
!.bin/polybar-bluetooth
!.bin/polybar-launch
!.bin/polybar-spotify
!.bin/polybar-vpn

# dunst
!.config/dunst
!.config/dunst/dunstrc

# bspwm
!.config/bspwm
!.config/bspwm/bspwmrc
!.config/bspwm/autostart

# gestures
!.config/libinput-gestures.conf

# picom
!.config/picom.conf

# polybar
!.config/polybar
!.config/polybar/*.ini

# pywal
!.config/wal
!.config/wal/templates
!.config/wal/templates/colors-rofi.rasi

# redshift
!.config/redshift.conf

# rofi
!.config/rofi
!.config/rofi/config.rasi

# sxhkd
!.config/sxhkd
!.config/sxhkd/sxhkdrc

# vim
!.vim
!.vim/vimrc

# vscode
!.config/Code\ -\ OSS
!.config/Code\ -\ OSS/User
!.config/Code\ -\ OSS/User/settings.json

# wal
!.config/wpg
!.config/wpg/themes
!.config/wpg/themes/*
