configuration {
    modi: [combi,window];
	combi-modi: [drun,run];
	me-select-entry: "MouseSecondary";
	me-accept-entry: "MousePrimary";
	scroll-method: 1;
    display-ssh: "ssh";
    display-run: "";
    display-drun: "";
    display-window: "";
    display-combi: "";
    show-icons: false;
}

@theme "/home/shvix/.cache/wal/colors-rofi.rasi"

listview {
    lines: 18;
}

window {
    width: 512px;
}
